body {
    background-color: #000000;
}

form {
    
    width: 100%;
    background-color: #022f41;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

.is-hidden {
    display: none;
}

.info {
    display: flex;
    color: #ffffff;
    gap: 10px;
}

a {
    text-decoration: none;
}

.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.photo-card {
    width: 300px;
}

img {
    width: 100%;
}